body {
    background-color: #171a21;
    color: #c6d4df;
    font-family:  "Motiva Sans", Sans-serif;
}

h1 {
    text-transform: uppercase;
}

li {
    display: inline;
    text-align: right;
}

input {
    background-color: white;
}

label {
    border: 1px dotted black;
}

form {
    width:100%;
    display: inline-block;
    text-align:left;
}