body {
    background-color: #171a21;
    color: #c6d4df;
    font-family:  "Motiva Sans", Sans-serif;
}

li {
    display: inline;
    text-align: right;
}

input {
    background-color: white;
}

label {
    border: 1px dotted black;

}
form {
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11%;
    text-align:center;
}