body {
    background-color: black;
    color: white;
}

li {
    display: inline;
}

input {
    background-color: white;
}

label {
    border: 1px dotted black;

}
form {
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11%;
    text-align:center;
}