body {
    background-color: #0B1542;
    color: #c6d4df;
    font-family:  "Motiva Sans", Sans-serif;
}

h1 {
    text-transform: uppercase;
}

li {
    display: inline;
    text-align: right;
}

input {
    padding: 8px;
    background-color: white;
}

form {
    background-color: #070E2C;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

label {
    padding-bottom: 20px;
    display: block;
}

form input[type="submit"] {
    padding: 10px 15px;
    background-color: #234CFD
    border: none;
}

nav {
    background-color: #0B1542;
}