body {
    background-color: #152981;
    color: #c6d4df;
    font-family:  "Motiva Sans", Sans-serif;
}

h1 {
    text-transform: uppercase;
}

li {
    display: inline;
    text-align: right;
}

input {
    background-color: white;
}

label {
    border: 1px dotted black;
}

form {
    background-color: #11216A;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}